ul.navigation li:hover a{
	background-color: white;
	color:black !important;
  display: inline-block;
}
.btm-right1 {
  overflow: hidden;
  position: relative;
  display: block;
}
.btm-right1 img{
	width:100%;
}
.captn1 h5 {
    color: #fff;
    font-size: 22px;
    margin: 17px 0 0 0;
}
.btm-right1 .captn1 {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -74%;
    right: 0;
    background-color: rgba(28, 167, 159, 0.54);
    text-align: center;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btm-right1:hover .captn1 {
  bottom: 0%;
}
.captn1 p {
    font-size:2em;
    color: #fff;
}
.btm-right1:hover .captn1 h5 {
   margin-top:95px;
}
.footer{
	    background: #333;
	padding:4em 0;
}
.footer-class{
	text-align:center;
	color:#fff;
	margin: 1.5em 0 0;
}
p.footer-class {
    font-size: 0.9em;
}
.footer-class a{
	    text-decoration: none;
    color: #2ad2c9;
}
.footer-class a:hover{
	color:#fff;
}
.footer-top p{
	    font-size: 0.9em;
}
.amet-sed h4{
	margin: 0 0 0.7em;
    font-size:1.6em;
    color: #fff;
    font-weight: 700;
	border-left: 6px solid #2ad2c9;
    padding-left: 9px;
	text-transform:uppercase;
}
.amet-sed p{
	margin: 0 0 0.5em;
    color: #C1BFBF;
    line-height: 1.8em;
}
ul.social-icons2 {
    margin-top: 24px;
}
ul.social li{
	list-style:none;
	padding:0.5em 0;
	font-size:0.9em;
	    color: #C1BFBF;
}
ul.social li i{
	display:inline-block;	
	    margin-right: 12px;
		color:#fff;
}
ul.social li a {
	text-decoration:none;
	font-size:1em;
	color:#C1BFBF;	
}
span.glyphicon.glyphicon-earphone,span.glyphicon.glyphicon-map-marker {
    margin-right: 5px;
    font-size: 11px;
}
.amet-medium p a{
	color:#2ad2c9;
	 text-decoration:none;
 }
.amet-medium p a:hover{
	color:#000;
}
ul.social-icons2  li a.tw,ul.social-icons2  li a.fb,ul.social-icons2  li a.in {
	width:79px;
	height:89px;
	display: block;
	background: url(../images/tw.png)no-repeat 0px 0px;
}
ul.social-icons2 li a.fb {
	background: url(../images/fb.png)no-repeat 0px 0px;
}
ul.social-icons2  li a.in {
	background: url(../images/gg.png)no-repeat 0px 0px;
}
ul.social-icons2  li a:hover{
	opacity:0.8;
}
.support input[type="text"] {
    width:63%;
  padding: 12px;
  font-size: 15px;
  text-align: left;
  font-weight: 400;
  border: 1px solid #fff;
  outline:none;
  margin:0px 0px 0 0;
  webkit-appearance:none;
      background: #fff;
}
.support input[type="submit"]{
     background: #2ad2c9;
    cursor: pointer;
    border: 0;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0.88em;
    text-align: center;
    webkit-appearance: none;
    outline: none;
    width:35%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.support input[type="submit"]:hover{
   background:#1CB7AF;
}
.support {
    margin: 1em 0em 0 0;
    background-color: rgb(45, 45, 45);
    padding: 1em 1em;
}
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 40px;
  height: 22px;
  border: none;
  text-indent: 100%;
  background: url(../images/move-top.png) no-repeat 0px 0px;
}


/*package and sale*/
div.relphoto{
  position: relative;
}
div.postext{
  position: absolute;
  top:30%;
  left: 30%;
}
div.dover{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background:rgba(0,0,0,0.6);
  opacity: 0.5;
}


/*package and sale*/

/* popup */
.popup-effect {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0ms;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
}

.popup-effect:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    background: #fff;
    border-radius: 4px;
    max-width: 430px;
    position: relative;
    margin: 8em auto;
    padding: 3em 2em;
    z-index: 999;
    text-align: center;
}

.popup .close {
    position: absolute;
    top: 5px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
/*end popup*/


/*package*/
  div.packagebox:hover{
    box-shadow:6px 6px 4px gray;
  }
/*end package*/

/*itemdetail*/
.cards {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; 
}
@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; 
    } 
  }

  .details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; 
  }

  .add_to_cart, .wishlist {
  background: #b36800;
  padding: 1.0em 1.0em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

 .rating, .product_price, .product_name, .product_color {
  margin-bottom: 15px; 
  }


/*end itemdetail*/